





/* модальне вікно */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
   

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    min-height: 581px;

    background-color: var(--hover-txt-btn);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}
.close-button {
    position:absolute;
    top: 0;
    right: 0;
    transform: translate(-8px, 8px);

    /* display: flex; */
    width: 30px;
    height: 30px;

    background-color: var(--hover-txt-btn);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    

}
.icon-close {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover .icon-close,
.close-button:focus .icon-close {
    fill: var(--base-blue-color);
}
/* форма подписки в футере */
.site-bottom__form {
    margin-left: 93px;
}
.form-bottom {
    display:flex;
}
.social-form-bottom {
    margin-bottom: 20px;
}
.bottom-input-email {
    display: inline-block;
    
    width: 358px;
    height: 50px;
    padding: 15px 16px;

    outline: 1px solid rgba(255, 255, 255, 0.3);
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--bk-cl-darkgray);
    color: var(--hover-txt-btn);
    font-size: 16px;
    letter-spacing: 0.03em;
}
.bottom-submit-btn {
    display: flex;
    align-items: center;
    text-align: center;

    margin-left: 12px;
    width: 200px;
    max-height: 50px;
    padding-left: 29px;
    padding-right: 28px;
    cursor: pointer;

    background-color: var(--base-blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--hover-txt-btn);
    letter-spacing: 0.06em;
    font-weight: 700;
}
.icon-send-bottom {
    margin-left: 10px;
    fill: var(--hover-txt-btn);

}
/* конец фoрмы подписки в футере */

/* форма в модалке */
.modal-form {
    padding: 40px;
}
.modal-tag {
    margin-bottom: 12px;
    
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--tagline-gray-cl);
}
.form-label {
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
}
.form-input {
   
    width: 448px;
    height: 40px;
    outline: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    border: none;
    padding: 12px 10px 12px 42px;

    transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.form-input:focus-within,
.form-input:hover
 {
    outline-color: var(--base-blue-color);
}
.form-input:focus-within ~ .icon-modal,
.form-input:hover ~ .icon-modal { 
    fill: var(--base-blue-color);
    
}
.form-message {
    /* margin-bottom: 20px; */
    padding: 12px 16px;
    resize: none;
    width: 448px;
    height: 120px;
    outline: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    border: none;

    transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-message:focus-within,
.form-message:hover {
    outline-color: var(--base-blue-color);
}
.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 10px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field.message {
    margin-bottom: 20px;
}

.icon-modal  {
    position: absolute;
    top: 30px;
    left: 24px;
    transform: translate(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.agreement-document {
    color: var(--base-blue-color);
}
.form-checkbox {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 30px;
    
}
.icon-check-custom {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    margin-right: 8px;
    outline: 2px var(--bk-cl-darkgray) solid;
    outline-offset: -2px;
    border-radius: 2px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.icon-checked { 
    fill: var(--hover-txt-btn);
}
.form-checkbox-input:checked + .icon-check-custom {
    background-color: var(--base-blue-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    outline-color: var(--base-blue-color); 
}
 
.btn-modal-push {
    display: block;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    background-color: var(--base-blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;

    color: var(--hover-txt-btn);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal-push:hover,
.btn-modal-push:focus {
background-color: var(--bk-hat-blue);
}

